services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports: ["4566:4566"]
    environment:
      - SERVICES=sqs
      - DEBUG=1
      - HOSTNAME_EXTERNAL=localstack
    volumes: ["/var/run/docker.sock:/var/run/docker.sock"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  redis:
    image: redis:7
    container_name: redis
    ports: ["6379:6379"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  worker:
    build:
      context: ./
      dockerfile: ./app/worker/Dockerfile
    container_name: worker
    depends_on:
      - redis
      - localstack
    restart: always
    environment:
      - PYTHONPATH=/app
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test

  web:
    build:
      context: ./
      dockerfile: ./web/Dockerfile
    container_name: fastapi-web
    ports: ["8000:8000"]
    depends_on:
      - redis
    restart: always
    environment:
      - PYTHONPATH=/app
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  init-queue:
    image: amazon/aws-cli:latest
    entrypoint: ["/bin/sh", "-c"]
    command: |
      aws --endpoint-url=http://localstack:4566 sqs create-queue --queue-name orders --region us-east-1 --access-key-id test --secret-access-key test ||
      echo "Queue already exists"
    depends_on:
      - localstack
    environment:
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test